
.buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  background-color: gray;
  margin: auto;
  margin-top: 50px;
  outline-style: solid;
  outline-width: 4px;
  outline-color: black;

}

#b1{
  flex-direction: column;
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b1:hover{
background-color: whitesmoke;
}
#b2{

  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b2:hover{
  background-color: whitesmoke;
  }
#b3{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b3:hover{
  background-color: whitesmoke;
  }
#b4{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b4:hover{
  background-color: whitesmoke;
  }
#b5{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b5:hover{
  background-color: whitesmoke;
  }
#b6{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b6:hover{
  background-color: whitesmoke;
  }
#b7{

  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b7:hover{
  background-color: whitesmoke;
  }
#b8{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b8:hover{
  background-color: whitesmoke;
  }
#b9{
  width: 190px;
  height: 190px;
  background-color: black;
  z-index: 5;
  position: relative;
}
#b9:hover{
  background-color: whitesmoke;
  }








.constT
{
  font-family: "Libre Barcode 39 Text";
  position: relative;
  background-color: black;
  margin: auto;
  width: 608px;
  margin-top: -635px;
  text-align: center;
  color: red;
}
/* #board
{
  position:relative;
  top: 160px;
  margin: auto;
  height: 610px;
  width: 610px;
  background-color: #555;
} */

.boxes{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: -600px;
  width: 600px;
  height: 600px;
  position: relative;
}

#box1
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;

 
}
#box2
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box3
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box4
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box5
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box6
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box7
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box8
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}
#box9
{
  width: 190px;
  height: 190px;
  background-color: red;
  z-index: 4;
  font-size: 80px;
  text-align: center;
}

#wrapper
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 1100px;
  z-index: 8;
  margin-top: -100px;

}
.xoQuestion
{
  position: absolute;
  font-family: "Libre Barcode 39 Text";
  font-size: 60px;
  height: 400px;
  width: 400px;
  margin-top: 300px;
  text-align: center;
  color: red;
  z-index: 7;
  
}
.bg
{
  position: absolute;
  height: 180px;
  width: 400px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: red;
  background-color: rgb(18, 113, 197);

  z-index: 6;
}
.bg2
{
  position: absolute;
  height: 160px;
  width: 350px;
  outline-width: 4px;
  outline-style: solid;
  outline-color: whitesmoke;
  z-index: 6;

  background-color: black;
  z-index: 6;
}
#xButton
{
  position: absolute;
  font-family: "Libre Barcode 39 Text";
  font-size: 60px;
  background-color: black;
  height: 70px;
  width: 70px;
  margin: auto;
  justify-content: center;
  color: red;
  z-index: 9;
  margin-bottom: -90px;
  margin-right: 120px;
}
#xButton:hover{
  outline-width: 4px;
  outline-style: solid;
  color: whitesmoke;
}
#xButton:hover~.xoQuestion{
  color: whitesmoke;
}
#xButton:hover~.bg2{
  color: whitesmoke;
}
#xButton:hover~.bg{
  background-color: whitesmoke;
}
#oButton
{
  position: absolute;
  font-family: "Libre Barcode 39 Text";
  font-size: 60px;
  background-color: black;
  height: 70px;
  width: 70px;
  text-align: center;
  color: red;
  z-index: 9;
  margin-bottom: -90px;
  margin-left: 120px;
}
#oButton:hover{
  outline-width: 4px;
  outline-style: solid;
  color: whitesmoke;
}
#oButton:hover~.xoQuestion{
  color: whitesmoke;
}
#oButton:hover~.bg2{
  color: whitesmoke;
}
#oButton:hover~.bg{
  background-color: whitesmoke;
}